
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,600');

body.wedding {
  background-color: #BDDCA9;
  font-family: 'Josefin Slab', serif;
  font-size: 18px;
}

body.wedding h1,
body.wedding h2,
body.wedding h3,
body.wedding h4,
body.wedding h5,
body.wedding h6 {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

body.wedding input,
body.wedding textarea {
  border-radius: 4px;
  border: 1px solid hsl(0,0%,80%);
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  resize: vertical;
  flex: 1;
  padding: 2px 8px;
}

body.wedding .select {
  width: 100%;
}

body.wedding button {
  border-radius: 4px;
  margin-left: 0.25em;
  background-color: rgba(116, 166, 145, 50);
  color: white;
  border: 1px solid rgba(116, 166, 145, 50);
  cursor: pointer;
}

body.wedding button:hover {
  border: 1px solid white;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

body.wedding button:active {
  border: 1px solid white;
  background-color: rgba(116, 166, 145, 100);
}

body.wedding .wedding-rsvp-form {
  height: 350px;
}
body.wedding .single-line-form {
  display: flex;
}

body.wedding .single-line-form button,
body.wedding .single-line-form label {
  flex-shrink: 0;
}